<div class="visEditorSidebar__config">

  <!-- COMPUTED COLUMNS SECTION -->
  <div class="visEditorSidebar__section">

    <div class="visEditorSidebar__sectionTitle">
        Computed Columns
    </div>

    <div draggable-sa-container="editorState.params.computedSaColumns" class="computed-sa-columns">
      <div ng-repeat="computedSaColumn in editorState.params.computedSaColumns"
           ng-init="editorOpen = initEditorOpen()"
           draggable-sa-item="computedSaColumn"
           class="euiAccordion visEditorSidebar__section visEditorSidebar__collapsible visEditorSidebar__collapsible--marginBottom">

           <!-- header -->
          <div class="euiAccordion__triggerWrapper">

              <!-- open/close editor -->
              <button
                    aria-label="{{editorOpen ? 'Close' : 'Open'}} Editor"
                    ng-click="editorOpen = !editorOpen"
                    aria-expanded="{{ !!editorOpen }}"
                    type="button"
                    data-test-subj="toggleEditor"
                    class="euiAccordion__button eui-textTruncate">
                 <icon aria-hidden="true" ng-if="editorOpen" type="'arrowDown'" size="'s'"></icon>
                 <icon aria-hidden="true" ng-if="!editorOpen" type="'arrowRight'" size="'s'"></icon>
                 &nbsp;

                 <!-- title -->
                 <span class="visEditorSidebar__aggGroupAccordionButtonContent eui-textTruncate">
                    Computed col
                    <!-- description -->
                    <span ng-if="!editorOpen" title="{{computedSaColumn.label || computedSaColumn.formula}}">
                      {{computedSaColumn.label || computedSaColumn.formula}}
                    </span>
                 </span>
              </button>

              <!-- controls -->
              <div class="euiAccordion__optionalAction">

                  <!-- disable computed column -->
                  <button
                    ng-if="computedSaColumn.enabled"
                    ng-click="computedSaColumn.enabled = false"
                    aria-label="{{::'enhancedTableSaVis.disableComputedColButtonAriaLabel' | i18n: { defaultMessage: 'Disable Column' } }}"
                    tooltip="{{::'enhancedTableSaVis.disableComputedColButtonTooltip' | i18n: { defaultMessage: 'Disable Column' } }}"
                    tooltip-append-to-body="true"
                    data-test-subj="disablecomputedSaColumnBtn"
                    type="button"
                    class="euiButtonIcon euiButtonIcon--text">
                    <icon type="'eye'" color="'text'"/>
                  </button>

                  <!-- enable computed column -->
                  <button
                    ng-if="!computedSaColumn.enabled"
                    ng-click="computedSaColumn.enabled = true"
                    aria-label="{{::'enhancedTableSaVis.enableComputedColButtonAriaLabel' | i18n: { defaultMessage: 'Enable Column' } }}"
                    tooltip="{{::'enhancedTableSaVis.enableComputedColButtonTooltip' | i18n: { defaultMessage: 'Enable Column' } }}"
                    tooltip-append-to-body="true"
                    data-test-subj="enablecomputedSaColumnBtn"
                    type="button"
                    class="euiButtonIcon euiButtonIcon--text">
                    <icon type="'eyeClosed'" color="'text'"/>
                  </button>

                  <!-- drag handle -->
                  <button
                    draggable-sa-handle
                    ng-if="editorState.params.computedSaColumns.length > 1"
                    aria-label="{{::'enhancedTableSaVis.modifycomputedSaColumnOrderAriaLabel' | i18n: { defaultMessage: 'Modify Order by Dragging' } }}"
                    tooltip="{{::'enhancedTableSaVis.modifycomputedSaColumnOrderButtonTooltip' | i18n: { defaultMessage: 'Modify Order by Dragging' } }}"
                    tooltip-append-to-body="true"
                    type="button"
                    keyboard-move="onPriorityReorder(direction)"
                    class="euiButtonIcon euiButtonIcon--text">
                    <icon type="'grab'"/>
                    <span class="euiScreenReaderOnly"
                      i18n-id="enhancedTableSaVis.howToModifyScreenReaderOrderDescription"
                      i18n-default-message="Use up and down key on this button to move this computed column up and down in the order."
                    >
                    </span>
                  </button>

                  <!-- remove computed column -->
                  <button
                    aria-label="{{::'enhancedTableSaVis.removecomputedSaColumnButtonAriaLabel' | i18n: { defaultMessage: 'Remove Column' } }}"
                    ng-click="removecomputedSaColumn(computedSaColumn, editorState.params.computedSaColumns)"
                    tooltip="{{::'enhancedTableSaVis.removecomputedSaColumnButtonTooltip' | i18n: { defaultMessage: 'Remove Column' } }}"
                    tooltip-append-to-body="true"
                    type="button"
                    class="euiButtonIcon euiButtonIcon--text">
                    <icon type="'cross'" color="'danger'"/>
                  </button>

              </div>
          </div>

          <!-- editor -->
          <div ng-if="editorOpen">
              <div class="form-group">
                <label>Label</label>
                <input type="text" ng-model="computedSaColumn.label" class="form-control">
              </div>
              <div class="form-group">
                <label>Formula (<a ng-href="https://github.com/nsheo/kibana-sound-table-test/blob/master/README.md#computed-column-formula--lines-computed-filter-documentation" target="_blank">documentation</a>)</label>
                <input type="text" ng-model="computedSaColumn.formula" class="form-control" />
              </div>
              <div class="form-group">
                <label>Format</label>
                <select ng-model="computedSaColumn.format" class="form-control">
                  <option label="Number" value="number">Number</option>
                  <option label="String" value="string">String</option>
                  <option label="Date" value="date">Date</option>
                </select>
              </div>
              <div class="form-group" ng-if="computedSaColumn.format === 'number'">
                <label>Pattern (<a ng-href="http://numeraljs.com/#format" target="_blank">Numeral.js</a> syntax)</label>
                <input type="text" ng-model="computedSaColumn.pattern" class="form-control">
              </div>
              <div class="form-group" ng-if="computedSaColumn.format === 'date'">
                <label>Pattern (<a ng-href="http://momentjs.com/docs/#/displaying/format/" target="_blank">Moment.js</a> syntax)</label>
                <input type="text" ng-model="computedSaColumn.datePattern" class="form-control">
              </div>
              <div class="form-group">
                <label>Alignment</label>
                <select ng-model="computedSaColumn.alignment" class="form-control">
                  <option>left</option>
                  <option>right</option>
                  <option>center</option>
                  <option>justify</option>
                </select>
              </div>
              <div class="checkbox" ng-if="computedSaColumn.alignment != 'left'">
                <label>
                  <input type="checkbox" ng-model="computedSaColumn.applyAlignmentOnTitle">
                  Apply alignment on title
                </label>
              </div>
              <div class="checkbox" ng-if="computedSaColumn.alignment != 'left'">
                <label>
                  <input type="checkbox" ng-model="computedSaColumn.applyAlignmentOnTotal">
                  Apply alignment on total
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="computedSaColumn.applyTemplate">
                  Apply template
                </label>
              </div>
              <div class="checkbox" ng-if="computedSaColumn.applyTemplate">
                <label>
                  <input type="checkbox" ng-model="computedSaColumn.applyTemplateOnTotal">
                  Apply template on total
                </label>
              </div>
              <div class="form-group" ng-if="computedSaColumn.applyTemplate">
                <label>Template (<a ng-href="https://handlebarsjs.com/guide/expressions.html" target="_blank">Handlebars</a> syntax)</label>
                <input type="text" ng-model="computedSaColumn.template" class="form-control">
              </div>
          </div>
      </div>
    </div>

    <div class="eui-textCenter">
      <a class="kuiButton kuiButton--secondary kuiButton--small" ng-click="addcomputedSaColumn(editorState.params.computedSaColumns)">
          Add computed column
      </a>
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label>Lines computed filter (<a ng-href="https://github.com/nsheo/kibana-sound-table-test/blob/master/README.md#computed-column-formula--lines-computed-filter-documentation" target="_blank">documentation</a>)&nbsp;
        <icon-tip
          content="'Example: when \'col0 &gt; 10\', only table lines having first column value greater than 10 are displayed'"
          position="'right'"
        ></icon-tip>
      </label>
      <input type="text" ng-model="editorState.params.linesComputedFilter" class="form-control" placeholder="col0 > 10" />
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label>
        Hidden columns
        <icon-tip
          content="'Reference a column by its index (1,2,3), by its label (Example Column) or both (1,2,column_3). Write the column label as is (no surrounding quotes) and separate them using a comma. It is recommended to reference a column by its label.'"
          position="'right'"
        ></icon-tip>
      </label>
      <input type="text" ng-model="editorState.params.hiddenColumns" class="form-control" placeholder="0,1,Col2 Label,..." />
    </div>

    <div class="checkbox" ng-show="hasSplitColsBucket()">
      <label>
        <input type="checkbox" ng-model="editorState.params.computedColsPerSplitCol">
        Computed/Hidden cols per split col&nbsp;
        <icon-tip
          content="'Example: when enabled, if there is one \'Split cols\' bucket that implies two columns (term1 and term2), one Count metric, and one computed column configured, then in the result table, there will be a computed column for term1 and another computed column for term2 (each displayed after count column)'"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

  </div>

  <!-- FILTER BAR SECTION -->
  <div class="visEditorSidebar__section">

    <div class="visEditorSidebar__sectionTitle">
        Filter Bar
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showFilterBar">
        Show filter bar
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterCaseSensitive">
        Case sensitive filter
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterBarHideable">
        Filter bar hideable
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterAsYouType">
        Filter as you type
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterTermsSeparately">
        Filter each term separately
        <icon-tip
          content="'Example with filter set to \'term1&nbsp;term2\': when this option is enabled, lines with one column containing \'term1\' and another column containing \'term2\' will be displayed. If disabled, only lines with one column containing \'term1&nbsp;term2\' will be displayed.'"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

    <div class="checkbox" ng-show="editorState.params.showFilterBar">
      <label>
        <input type="checkbox" ng-model="editorState.params.filterHighlightResults">
        Highlight results
      </label>
    </div>

    <div class="form-group" ng-show="editorState.params.showFilterBar">
      <label>Filter bar width</label>
      <input type="text" ng-model="editorState.params.filterBarWidth" class="form-control">
    </div>

  </div>
  <!-- BASIC SETTINGS SECTION -->
  <div class="visEditorSidebar__section">
    <div class="visEditorSidebar__sectionTitle">
        Sound Alarm Settings
    </div>
    <div class="form-group">
	
	  <div class="checkbox">
		<label>
		  <input type="checkbox" ng-model="editorState.params.soundAlarmUsage">
		  Usage
		</label>
	  </div>
	  
	  <div>
	    <label>Type</label>
	    <select ng-disabled="!editorState.params.soundAlarmUsage" ng-model="editorState.params.soundAlarmBaseUnit" class="form-control">
          <option>row</option>
          <option>value</option>
        </select>
	  </div>
	  
	  <div>
	    <label>Data Type</label>
	    <select ng-disabled="!editorState.params.soundAlarmUsage || editorState.params.soundAlarmBaseUnit === 'row'" ng-model="editorState.params.soundAlarmDataType" class="form-control">
          <option>string</option>
          <option>number</option>
        </select>
	  </div>
	  
	  <div>
	    <label>Comparison</label>
	    <select ng-disabled="!editorState.params.soundAlarmUsage || (editorState.params.soundAlarmBaseUnit === 'value' && editorState.params.soundAlarmDataType === 'string')" ng-model="editorState.params.soundAlarmComparisonOper" class="form-control">
          <option>over</option>
          <option>eq</option>
		  <option>under</option>
        </select>
	  </div>
	  
	  <div>
	    <label>Thresholds</label>
        <input type="text" ng-disabled="!editorState.params.soundAlarmUsage" ng-model="editorState.params.soundAlarmThreshold" class="form-control" placeholder="80 or Critical">
	  </div>
	  
	  <div>
        <label>Column Labels</label>
        <input type="text" ng-disabled="!editorState.params.soundAlarmUsage || editorState.params.soundAlarmBaseUnit === 'row'" ng-model="editorState.params.soundAlarmLabels" class="form-control" placeholder="Label1,Label2...">
	  </div>
    </div>
  </div>
  <!-- BASIC SETTINGS SECTION -->
  <div class="visEditorSidebar__section">

    <div class="visEditorSidebar__sectionTitle">
        Basic Settings
    </div>
	
    <div class="form-group">
      <label
        for="datatableVisualizationPerPage"
        i18n-id="tableVis.params.perPageLabel"
        i18n-default-message="Per Page"
      ></label>
      <input type="number" ng-model="editorState.params.perPage" class="form-control" id="datatableVisualizationPerPage">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.hideExportLinks">
        Hide export links
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.stripedRows">
        Striped rows
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showMetricsAtAllLevels">
        <span
          i18n-id="tableVis.params.showMetricsLabel"
          i18n-default-message="Show metrics for every bucket/level"
        ></span>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showPartialRows">
        <span
          i18n-id="tableVis.params.showPartialRowsLabel"
          i18n-default-message="Show partial rows"
        ></span>
        &nbsp;
        <icon-tip
          content="::'tableVis.params.showPartialRowsTip' | i18n: {
            defaultMessage: 'Show rows that have partial data. This will still calculate metrics for every bucket/level, even if they are not displayed.'
          }"
          position="'right'"
        ></icon-tip>
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="editorState.params.showTotal">
        <span
          i18n-id="tableVis.params.showTotalLabel"
          i18n-default-message="Show total"
        ></span>
      </label>
    </div>

    <div>
      <label
        for="datatableVisualizationTotalFunction"
        i18n-id="tableVis.params.totalFunctionLabel"
        i18n-default-message="Total function"
      ></label>
      <select ng-disabled="!editorState.params.showTotal"
              class="form-control"
              ng-model="editorState.params.totalFunc"
              ng-options="x for x in totalAggregations" id="datatableVisualizationTotalFunction">
      </select>
    </div>

    <div class="euiSpacer euiSpacer--s"></div>
    <div class="form-group">
      <label for="datatableVisualizationTotalLabel">Total label</label>
      <input type="text" ng-model="editorState.params.totalLabel" class="form-control" id="datatableVisualizationTotalLabel" ng-disabled="!editorState.params.showTotal">
    </div>

  </div>

</div>
